body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.8rem;
}

h2 {
  font-size: 0.8rem;
  font-weight: 700;
}

article {
  width: 160px;
  display: flex;
  flex-direction: column;
}

article :is(h2, p) {
  margin-block: 0;
}

img {
  width: 160px;
  height: 200px;
}
